                                   # PyCity Schools Analysis

-   The data reveals that, on the whole, smaller populated schools, predominantly Charter Schools, 
    outperformed their larger populated counterparts, which were Public District schools. 
    Although the Charter Schools exhibited superior performance across all categories examined when       compared to the District Public schools, 
    it is important to note that the sample size of the data may not be sufficient to establish a         definitive conclusion regarding their academic superiority.

-   The correlation between school funding and academic performance was found to be inconclusive, as       per the spending summary analysis.  
    Surprisingly,students with lower per student budgets exhibited superior performance compared to       those with larger per student budgets. 
    This finding highlights the need for decision makers to consider not just the amount of funds         allocated to schools, but also how those funds are utilized to achieve desired outcomes. Merely       spending more per student does not guarantee success or excellence. 
    It underscores the importance of prudent budget utilization to optimize educational outcomes.
    
-   Moreover, the analysis of school data indicates that students, on average, are performing             significantly better in Reading as compared to Math. Across all categories, students achieved         higher scores in Reading, suggesting that Math may be perceived as more challenging. 
    This underscores the need for increased emphasis on promoting Math excellence through enhanced         encouragement and additional resources to foster proficiency in this subject area.

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
schools_complete_csv = Path("Resources/schools_complete.csv")
students_complete_csv = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
schools_complete_df = pd.read_csv(schools_complete_csv)
student_complete_df = pd.read_csv(students_complete_csv)

# Combine the data into a single dataset.  
PyCitySchools_df = pd.merge(student_complete_df, schools_complete_df, how="left", on=["school_name", "school_name"])
PyCitySchools_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

In [3]:
# Calculate the total number of unique schools
school_count = PyCitySchools_df['school_name'].nunique()
print("Total number of unique schools: ", school_count)

Total number of unique schools:  15

In [318]:
# Calculate the total number of students
student_count = PyCitySchools_df['student_name'].count()
student_count

39170

In [319]:
# Calculate the total budget
total_budget = PyCitySchools_df['budget'].sum()
total_budget

82932329558

In [320]:
# Calculate the average (mean) math score
average_math_score = PyCitySchools_df['math_score'].mean()
average_math_score

78.98537145774827

In [7]:
# Calculate the average (mean) reading score
average_reading_score = PyCitySchools_df['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [8]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = PyCitySchools_df[(PyCitySchools_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
print(passing_math_percentage)

74.9808526933878

In [10]:
# Calculate the percentage of students who passeed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = PyCitySchools_df[(PyCitySchools_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
print(passing_reading_percentage)

85.80546336482001

In [316]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = PyCitySchools_df[
    (PyCitySchools_df["math_score"] >= 70) & (PyCitySchools_df["reading_score"] >= 70)
].count() ["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [317]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary_df = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]
                                    
})

# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$82,932,329,558.00",78.985371,81.87784,74.980853,85.805463,65.172326

# School Summary

In [309]:
# Use the code provided to select the school type 
school_type = PyCitySchools_df.groupby("school_name")["type"].first()
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [44]:
# Calculate the total student count
per_school_counts = PyCitySchools_df['student_name'].count()
per_school_counts

39170

In [47]:
# Calculate the total per school budget
per_school_budget = PyCitySchools_df.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [159]:
# Calculate the total Per student budget
per_school_capita = per_school_budget / per_school_counts

In [160]:
# Calculate the average math scores
per_school_math = PyCitySchools_df.groupby(["school_name"]).mean()["math_score"]

In [281]:
# Calculate the average reading scores
per_school_reading = PyCitySchools_df.groupby(["school_name"]).mean()["reading_score"]

In [283]:
# Calculate the number of schools with math scores of 70 or higher
school_passing_math = PyCitySchools_df[(PyCitySchools_df["math_score"] >= 70)]

In [285]:
# Calculate the number of schools with reading scores of 70 or higher
school_passing_reading = PyCitySchools_df[(PyCitySchools_df["reading_score"] >= 70)]

In [270]:
# Use the provided code to calculate the schools that passed both math and reading with scores of 70 or higher
passing_math_and_reading = PyCitySchools_df[
    (PyCitySchools_df["reading_score"] >= 70) & (PyCitySchools_df["math_score"] >= 70)
]
passing_math_and_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [310]:
# Use the provided code to calculate the passing rates
per_school_type = PyCitySchools_df.groupby("school_name")["type"].first()
per_school_counts = PyCitySchools_df["school_name"].value_counts()
per_school_passing_math = PyCitySchools_df[PyCitySchools_df['math_score'] >= 70].groupby('school_name').count()["student_name"] / per_school_counts * 100
per_school_passing_reading = PyCitySchools_df[PyCitySchools_df['reading_score'] >= 70].groupby('school_name').count()["student_name"] / per_school_counts * 100
overall_passing_rate = PyCitySchools_df[(PyCitySchools_df["reading_score"] >= 70) & (PyCitySchools_df["math_score"] >= 70)].groupby('school_name').count()["student_name"] / per_school_counts * 100

In [312]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.

per_school_summary = pd.DataFrame({

"School Type": per_school_type,
"Total Students": per_school_counts.values,
"Total School Budget": per_school_budget.values,
"Per Student Budget": per_school_capita.values,
"Average Math Score": per_school_math.values,
"Average Reading Score": per_school_reading.values,
"% Passing Math": per_school_passing_math.values,
"% Passing Reading": per_school_passing_reading.values,
"% Overall Passing": overall_passing_rate.values
})


# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,4761,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,4635,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,3999,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,2949,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455

# Highest-Performing Schools (by % Overall Passing)

In [216]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=False)
top_schools.head(5)

,School Name,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
1,Johnson High School,4761,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
12,Griffin High School,1468,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
4,Figueroa High School,2949,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
13,Pena High School,962,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
9,Wright High School,1800,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

# Bottom Performing Schools (By % Overall Passing)

In [222]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by='% Overall Passing', ascending=True)
bottom_schools.head(5)

,School Name,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
10,Shelton High School,1761,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
2,Hernandez High School,4635,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
7,Wilson High School,2283,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
5,Huang High School,2917,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
8,Cabrera High School,1858,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172

# Math Scores by Grade

In [224]:
# Use the code provided to separate the data by grade
ninth_graders =  PyCitySchools_df[( PyCitySchools_df["grade"] == "9th")]
tenth_graders =  PyCitySchools_df[( PyCitySchools_df["grade"] == "10th")]
eleventh_graders =  PyCitySchools_df[( PyCitySchools_df["grade"] == "11th")]
twelfth_graders =  PyCitySchools_df[( PyCitySchools_df["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = PyCitySchools_df[( PyCitySchools_df["grade"] == "9th")].groupby('school_name').mean()
tenth_graders_scores = PyCitySchools_df[( PyCitySchools_df["grade"] == "10th")].groupby('school_name').mean()
eleventh_graders_scores = PyCitySchools_df[( PyCitySchools_df["grade"] == "11th")].groupby('school_name').mean()
twelfth_graders_scores = PyCitySchools_df[( PyCitySchools_df["grade"] == "12th")].groupby('school_name').mean()

# Use the code to select only the `math_score`.
ninth_grade_math_scores = ninth_graders_scores["math_score"]
tenth_grader_math_scores = tenth_graders_scores["math_score"]
eleventh_grader_math_scores = eleventh_graders_scores["math_score"]
twelfth_grader_math_scores = twelfth_graders_scores["math_score"]

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = math_scores_by_grade = pd.DataFrame({
    "9th Grade Math Score": ninth_graders_scores["math_score"],
    "10th Grade Math Score": tenth_graders_scores["math_score"],
    "11th Grade Math Score": eleventh_graders_scores["math_score"],
    "12th Grade Math Score": twelfth_graders_scores["math_score"]
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

,9th Grade Math Score,10th Grade Math Score,11th Grade Math Score,12th Grade Math Score
Bailey High School,77.083676,76.996772,77.515588,76.492218
Cabrera High School,83.094697,83.154506,82.765560,83.277487
Figueroa High School,76.403037,76.539974,76.884344,77.151369
Ford High School,77.361345,77.672316,76.918058,76.179963
Griffin High School,82.044010,84.229064,83.842105,83.356164
Hernandez High School,77.438495,77.337408,77.136029,77.186567
Holden High School,83.787402,83.429825,85.000000,82.855422
Huang High School,77.027251,75.908735,76.446602,77.225641
Johnson High School,77.187857,76.691117,77.491653,76.863248
Pena High School,83.625455,83.372000,84.328125,84.121547
Rodriguez High School,76.859966,76.612500,76.395626,77.690748
Shelton High School,83.420755,82.917411,83.383495,83.778976
Thomas High School,83.590022,83.087886,83.498795,83.497041
Wilson High School,83.085578,83.724422,83.195326,83.035794
Wright High School,83.264706,84.010288,83.836782,83.644986

# Reading Score by Grade

In [256]:
# Use the code provided to separate the data by grade
ninth_graders = PyCitySchools_df[( PyCitySchools_df["grade"] == "9th")]
tenth_graders = PyCitySchools_df[( PyCitySchools_df["grade"] == "10th")]
eleventh_graders = PyCitySchools_df[( PyCitySchools_df["grade"] == "11th")]
twelfth_graders = PyCitySchools_df[( PyCitySchools_df["grade"] == "12th")]

# Group by "school_name" and take the mean of each.
ninth_graders_scores = PyCitySchools_df[( PyCitySchools_df["grade"] == "9th")].groupby('school_name').mean()
tenth_graders_scores = PyCitySchools_df[( PyCitySchools_df["grade"] == "10th")].groupby('school_name').mean()
eleventh_graders_scores = PyCitySchools_df[( PyCitySchools_df["grade"] == "11th")].groupby('school_name').mean()
twelfth_graders_scores = PyCitySchools_df[( PyCitySchools_df["grade"] == "12th")].groupby('school_name').mean()

# Use the code to select only the `reading_score`.
ninth_grade_reading_scores = ninth_graders_scores["reading_score"]
tenth_grader_reading_scores = tenth_graders_scores["reading_score"]
eleventh_grader_reading_scores = eleventh_graders_scores["reading_score"]
twelfth_grader_reading_scores = twelfth_graders_scores["reading_score"]

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_graders_scores["reading_score"],
    "10th": tenth_graders_scores["reading_score"],
    "11th": eleventh_graders_scores["reading_score"],
    "12th": twelfth_graders_scores["reading_score"]
})


# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

# Scores by School Spending

In [293]:
# Convert "Per Student Budget" column to numeric values
school_spending_df["Per Student Budget"] = pd.to_numeric(school_spending_df["Per Student Budget"])

# Create the bins and labels
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

# Categorize spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=labels)

# Calculate mean scores per spending range
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

# Create the spending summary DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display the spending summary table
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

# Scores by School Size

In [299]:
# Define size bins and labels
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Use pd.cut to create a new column "School Size" based on "Total Students" column
per_school_summary['School Size'] = pd.cut(per_school_summary['Total Students'], bins=size_bins, labels=labels)

# Groupby "School Size" and calculate mean for relevant columns
size_summary = per_school_summary.groupby('School Size').mean()

# Drop unnecessary columns
size_summary = size_summary[['Average Math Score', 'Average Reading Score', '% Passing Math', '% Passing Reading', "% Overall Passing"]]

# Print size_summary
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.478211,83.972244,93.600526,96.575376,90.457950
Medium (1000-2000),80.906579,82.666086,82.831606,90.110386,75.581616
Large (2000-5000),79.374829,82.082863,76.680841,86.822833,67.542428

#  Scores by School Type

In [313]:
# Group per_school_summary by "School Type"
type_summary = per_school_summary.groupby("School Type").mean()

# Display the type_summary DataFrame
type_summary

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,,
Charter,2092.625000,83.473852,83.896421,93.620830,96.586489,90.432244
District,3204.142857,76.956733,80.966636,66.548453,80.799062,53.672208